
.hoverTable{
  width:100%; 
  border-collapse:collapse; 
  margin:7px;
}
.hoverTable td{ 
  padding:7px; border:#4e95f4 1px solid;
}
/* Define the default color for all the table rows */
.hoverTable tr{
  background: #b8d1f3;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
    background-color: #ffff99;
}

#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin: 12px; /* Add some space below the input */
}